#container {
  width: 600px;
  margin: 20px auto;
}

#buttonBar {
  float: inside;
}

#friends_col {
  margin-left: 70px;
}

#searchInput {
  width: 100%;
  font-size: 28px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #909090;
  margin-bottom: 10px;
}

#myUL li a {
  border: 1px solid #dddddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
}

#myUL li a:hover:not(.header) {
  background-color: #909090;
}

#buttonWrapper {
  width: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}
